/* Mainsection1.module.css */
/* 서브페이지1-1-1 메인내용 */
.main-section1 {
  float: right;
  position: relative;
  width: 900px;
  height: 1000px;
}

.content_header {
  position: relative;
  opacity: 0;
  left: 100px;
  transition: all 1s;
}

.content_header.active {
  opacity: 1 !important;
  transform: translate(-100px, 0) !important;
}

.content_section {
  top: 400px;
  left: 500px;
  position: relative;
  opacity: 0;
  transition: all 1s;
  width: 450px;
}

.content_section.active {
  opacity: 1 !important;
  transform: translate(-100px, -100px) !important;
}

/* 서브페이지1-1-1 메인내용 */