.main-section4{
  float: right;
  position: relative;
  width: 900px;
  height: 2300px;}

.content_section1 {
  position: relative;
  width: 920px;
  height: 320px;
  margin-top: 50px;
  display: block;
}
.content_header {
  left: 100px;
  position: relative;
  opacity: 0;
  transition: all 1s;
}

.content_header.active {
  opacity: 1 !important;
  transform: translate(-100px, 0) !important;
}
.content_header-2 {
  left: 100px;
  position: relative;
  opacity: 0;
  transition: all 1.5s;
}

.content_header-2.active {
  opacity: 1 !important;
  transform: translate(-100px, 0) !important;
}

.content-first {
  position: absolute;
  left: 100px;
  width: 320px;
  height: 320px;
  border-radius: 100%;
  background: #6375b7;
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: all 1s;
}

.content-second {
  position: absolute;
  left: 400px;
  width: 320px;
  height: 320px;
  border-radius: 100%;
  background: #6592c0;
  z-index: 2;
  text-align: center;
  opacity: 0;
  transition: all 1s;
  transition-delay: 400ms;
}

.content-third {
  position: absolute;
  left: 700px;
  width: 320px;
  height: 320px;
  border-radius: 100%;
  background: #65b4c0;
  z-index: 3;
  text-align: center;
  opacity: 0;
  transition: all 1s;
  transition-delay: 800ms;
}

.content-first-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  color: white;
  font-weight: bold;
}

.content-second-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  color: white;
  font-weight: bold;
}

.content-third-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  color: white;
  font-weight: bold;
}

.content-first.active {
  opacity: 1 !important;
  transform: translate(-100px, 0) !important;
}

.content-second.active {
  opacity: 1 !important;
  transform: translate(-100px, 0) !important;
}

.content-third.active {
  opacity: 1 !important;
  transform: translate(-100px, 0) !important;
}
#down{
  position: absolute;
  left: 440px;
  top: 55%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 1s;

}
#down.active {
  opacity: 1 !important;
  transform: translate(0, 200px) !important;
}



.content-fourth.active {
  opacity: 1 !important;
  transform: translate(0, 200px) !important;
}

.content-fourth {
  margin-top: 150px;
  width: 100%;
  height: 150px;
  top: -200px;
  position: relative;
  border-radius: 100px;
  background-color: #fafafa;
  opacity: 0;
  transition: all 1s;
}

#content-fourth-box {
  width: 95%;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 100px;
  background-color: #eee;
}
#content-fourth-text {
  width: 650px;
  height: 54px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;

}


.content-fourth>div>div>img {
  position: relative;
  display: inline;

}

.content-fourth>div>div>h1 {
  position: relative;
  display: inline;
  width: 300px;
}


.content-fiveth {
  width: 900px;
  height: 1500px;
}

.content-fiveth-first {
  position: relative;
  width: 900px;
  height: 500px;
  top: 50px;
  overflow: hidden;
  border-bottom: 1px solid #dee2e6;
  opacity: 0;
  transition: all 1.5s;
}

.content-fiveth-first.active {
  animation: scale-in-ver-center .5s cubic-bezier(.25, .46, .45, .94) both;
}

.content-fiveth-second {
  position: relative;
  width: 900px;
  height: 500px;
  top: 0px;
  overflow: hidden;
  border-bottom: 1px solid #dee2e6;
  opacity: 0;
  transition: all 1.5s;
}
.content-fiveth-second.active {
  animation:scale-in-ver-center .5s cubic-bezier(.25,.46,.45,.94) both;
}
.content-fiveth-third {
  position: relative;
  width: 900px;
  height: 500px;
  top: -50px;
  overflow: hidden;
  opacity: 0;
  transition: all 1.5s;
}
.content-fiveth-third.active {
  animation:scale-in-ver-center .5s cubic-bezier(.25,.46,.45,.94) both;
}

.fiveth-left-text {
  width: 300px;
  position: relative;
  top: 100px;
  float: left;
  font-weight: bold;
}
.fiveth-right-text {
  width: 550px;
  top: 100px;
  position: relative;
  float: right;
  font-size: 18px;
}
@keyframes scale-in-ver-center {
  0% {
      transform: scaleY(0);
      opacity: 1
  }
  100% {
      transform: scaleY(1);
      opacity: 1
  }
}
